@import './font'

meyer-reset()
box-sizing-reset()

* {
  font-family: inherit
  font-size: 1rem
}

html, body
  font-size: 18px
  height: 100%
  font-family: Space Mono, Consolas, monaco, monospace

body
  overflow: hidden
